version: 2
jobs:
  build:
    docker:
      - image: node:8.10-alpine
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          key: packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Packages
          command: yarn install
      - save_cache:
          name: Save Yarn Package Cache
          key: packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
  test:
    docker:
      - image: node:8.10-alpine
    steps:
      - checkout
      - restore_cache:
          name: Restore Yarn Package Cache
          key: packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Packages
          command: yarn test
deploy:
  docker:
    - image: node:8.10-alpine
  steps:
    - checkout
    - restore_cache:
        name: Restore Yarn Package Cache
        key: packages-{{ checksum "yarn.lock" }}
    - run:
        name: Install Packages
        command: yarn build

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
  build_and_deploy:
    jobs:
      - build:
        filters:
          branches:
            only: master
      - deploy:
          requires:
            - build
