version: 2
jobs:
  checkout_code:
    docker:
      - image: node:8.10-alpine
    working_directory: /var/www
    steps:
      - checkout
      - save_cache:
          key: code-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - /var/www

  build:
    docker:
      - image: node:8.10-alpine
    steps:
      - restore_cache:
          keys:
            - code-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          name: Restore Yarn Package Cache
          key: packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Packages
          command: yarn install
      - save_cache:
          name: Save Yarn Package Cache
          key: packages-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn

  test:
    docker:
      - image: node:8.10-alpine
    steps:
      - restore_cache:
          keys:
            - code-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          name: Restore Yarn Package Cache
          key: packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Packages
          command: yarn test

  deploy:
    docker:
      - image: node:8.10-alpine
    steps:
      - restore_cache:
          keys:
            - code-{{ .Environment.CIRCLE_SHA1 }}
      - restore_cache:
          name: Restore Yarn Package Cache
          key: packages-{{ checksum "yarn.lock" }}
      - run:
          name: Install Packages
          command: yarn build

workflows:
  version: 2
  build_and_test:
    jobs:
      - checkout_code
      - build:
          requires:
            - checkout_code
      - test:
          requires:
            - build
  build_and_deploy:
    jobs:
      - checkout_code:
          filters:
            branches:
              only: master
      - build:
          requires:
            - checkout_code
      - deploy:
          requires:
            - build
